@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Global styles come from external css https://codepen.io/GreenSock/pen/xxmzBrw */

.box {
  width: 100px;
  height: 100px;
  display: block;
}

.box1 {
  opacity: 0;
  font-size: 3rem;
  color: #d63384;
  font-weight: bold;
  text-align: center;
  font-family: var(--font-oswald);
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.pink {
  background-color: pink;
}